:root {
    --font: 'Roboto',sans-serif;
    --dark-bg: #371f2b;
    --white-st: #F9FAF8;
    --white-wk: #E5E7EB;
    --pink:#e787b7;
    --text-b: 48px;
    --text-m: 36px;
    --text-s: 24px;
    --text-ss: 18px;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font);
}

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid lime; */
}

.logo {
    width: 40px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: var(--dark-bg);
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: var(--text-ss);
    color: var(--white-wk);
}


.intro,
.bg {
    width: 350px;
    flex-shrink: 0;
    
}

h1 {
    color: var(--white-st);
    font-size: 48px;
    font-weight: 900;
}


.intro p {
    font-size: var(--text-ss);
    color: var(--white-wk);
    
}

button {
    background-color: var(--pink);
    color: var(--white-st);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}

.hero-margin {
    margin-block: 8px;
}

.right-side {
    display: flex;
    flex-direction: column;

}

.info {
    text-align: center;
    background-color: var(--white-st);
    padding: 36px;
}

.info h2 {
    color: var(--dark-bg);
    font-size: var(--text-m);
    padding: 20px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex: 1;
}

.img {
    flex: 1;
    width: 300px;
    border: 5px solid var(--pink);
    border-radius: 10px;
}
